@using StoreApplication.Models;
@model StoreFront

@{
    ViewBag.Title = "Index";
}

@section AddtionalMenu{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Store <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @foreach (Store store in Model.Stores)
            {
                <li><a href="/Home/Index?StoreId=@store.Id">@store.Name</a></li>
            }

        </ul>
    </li>
}
@if (Model.CurrentSelectedStore == null)
{
    <h2>Select a store in the menu to continue</h2>
}
else
{
    <h2>Welcome to @Model.CurrentSelectedStore.Name</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    @foreach (ProductCategory cat in Model.Categories)
                {
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="/home/index?CategoryId=@cat.Id&StoreId=@Model.CurrentSelectedStore.Id">@cat.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    @foreach (Product prod in Model.Products)
                    {

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQxIiBoZWlnaHQ9IjE5OSIgdmlld0JveD0iMCAwIDI0MSAxOTkiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU4YjA2NWY0ZjEgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNThiMDY1ZjRmMSI+PHJlY3Qgd2lkdGg9IjI0MSIgaGVpZ2h0PSIxOTkiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS4zNTkzNzUiIHk9IjEwNC45Mzc1Ij4yNDF4MTk5PC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="...">
                                <div class="caption">
                                    <h3>@prod.Name</h3>
                                    <p>Lipsum Lorem this is a cool description</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Compare</a></p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        </div>

    }



