@using StoreApplication.Models;
@model StoreFront

@{
    ViewBag.Title = "Index";
}

@section AddtionalMenu{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Store <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @foreach (Store store in Model.Stores)
            {
                <li><a href="/Home/Index?StoreId=@store.Id">@store.Name</a></li>
            }

        </ul>
    </li>
}
@if (Model.CurrentSelectedStore == null)
{
    <h2>Select a store in the menu to continue</h2>
}
else
{
    <h2>Welcome to @Model.CurrentSelectedStore.Name</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    @foreach (ProductCategory cat in Model.Categories)
                {
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="/home/index?CategoryId=@cat.Id&StoreId=@Model.CurrentSelectedStore.Id">@cat.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-9">
                @Html.Partial("Products", Model.Products)
            </div>
        </div>
        </div>

    }



