<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=david2sa;AccountKey=gDOSyE8rFATfCg10DXae6/OrpH7jqoV5PLOjbOMkanDVFhbyEZqDeIoU+lgJmb2zsb1WQbeh4eh4CkHMGezxgGQw==;" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=david2sa;AccountKey=gDOSyE8rFATfCg10DXae6/OrpH7jqoV5PLOjbOMkanDVFhbyEZqDeIoU+lgJmb2zsb1WQbeh4eh4CkHMGezxgGQw==;" />
  </connectionStrings>
  <appSettings>
    <add key="ClientId" value="e12c4ee1-1f92-4ef5-b81b-494affab7cdd" />
    <add key="ClientSecret" value="ADOvkRq0AO9s/N1wS88o5sty3vMXI0B3MGLHy6UYeJ/QQ=" />
  </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>