<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="e12c4ee1-1f92-4ef5-b81b-494affab7cdd" />
    <add key="ClientSecret" value="ADOvkRq0AO9s/N1wS88o5sty3vMXI0B3MGLHy6UYeJ/QQ=" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>