<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="e023bd75-7106-46e5-bd5b-f57e88e97594"/>
    <add key="clientSecret" value="asldkjfaölksdjfaölksdjfölasdjföl"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>