
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaddingAndMargin</title>
    <style>
        #SomeDiv
        {
            background-color:#bdbdbd;
            border:5px  groove #000000;
            padding:10px 15px 10px 15px;
            margin:10px 15px 10px 15px;
        }

    </style>
</head>
<body>
    <div id="SomeDiv"> 
        some Div
    </div>
</body>
</html>
