
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Davids Page</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/MyScript.js"></script>
</head>
<body>
    <a href="https://www.google.com">This is my link</a>
    <p style="max-width:400px;">Lorem <a href="www.bing.com">ipsum dolor sit amet, consectetur</a> adipiscing elit. Quisque dictum ornare tincidunt. In placerat semper sapien quis fringilla. Proin sed luctus arcu. Suspendisse id elit iaculis, egestas sem sed, interdum dui. Morbi volutpat varius sapien, quis efficitur ex commodo vitae. Maecenas iaculis lorem tristique leo ultrices placerat. Donec ultricies dolor id commodo tristique. Proin suscipit, enim at condimentum laoreet, nunc arcu laoreet risus, pulvinar fringilla turpis lectus et leo. Nullam ultricies eros in elementum aliquam. Aenean rhoncus diam vel egestas auctor. Ut dui ante, bibendum et elit in, mollis vestibulum nunc. Vestibulum dapibus nisl in purus auctor, non feugiat augue commodo. Mauris quis maximus ligula. Sed ligula sem, eleifend mollis erat ac, consequat tincidunt purus.</p>
    <p class="greenyellow">asdfasdf asdf asdf asdfas</p>
    <img onclick='ShowPopup("this is a car");' class="carpic" src="https://exoticcars.enterprise.com/etc/designs/exotics/clientlibs/dist/img/homepage/Homepage-Hero-Car.png" />
        <h1 style="color:green;background-color:yellow">h1</h1>
        <h2 class="greenyellow">h2</h2>
        <h3 id="MyH3">h3</h3>
        <h4>h4</h4>
        <h5>h5</h5>

        <span>span</span>
        <span>span</span>
        <span>span</span>
        <span>span</span>
        <span>span</span>
        <div>
            Hello World
        </div>
        <div>
            Hello World
        </div>
        <div>
            Hello World
        </div>
        <div>
            Hello World
        </div>
</body>
</html>
