@model GameStore.Models.StartPage

@using GameStore.Models;

@{
    ViewBag.Title = "Index";
}
<div class="storecontainer clearfix">
    <div class="percent70">
        <h4>Welcome To the game store</h4>
        <div>Bacon ipsum dolor amet pork ball tip venison, pancetta bacon pork chop porchetta tri-tip ham hock. Jowl boudin filet mignon pancetta short ribs, chuck frankfurter strip steak sirloin alcatra salami doner. Pork belly frankfurter corned beef chuck</div>

    </div>
    <div class="percent30"> 
        <h4>Latest Games</h4>
        <div id="gameList">
            @foreach (Game game in Model.LatestGames)
            {
                <div class="gameitem">
                    <h5>@game.Title<text>(@game.Genre)</text></h5>
                    <div>@game.Description</div>
                </div>
            }
        </div>
    </div>

    </div>
